body {
	background-color: #ede9e0;
}

a {
	text-decoration: none;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 50;
	line-height: 30px;
	color: #000;
}

.advantages-item, 
.breed-description,
.review-text,
.address,
.work-time,
.email,
.contact-phone {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
}

.container {
	width: 1018px;
	margin: 0 auto;
}

.logo {
	margin: 10px;
}

.main-nav-cont {
	position: fixed;
	left: 0;
	right: 0;
}

.main-nav-list {
	position: absolute;
	top: 0;
	margin-left: 380px;
}

.phone {
	position: absolute;
	top: 25px;
	margin-left: 880px;
	color: #510fad;
}

.promo-slogan {
	width: 560px;
	font-size: 48px;
	font-family: 'Fira Sans', sans-serif;
	margin-left: 255px;
}

.slogan {
	margin-left: 255px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 50;
	line-height: 40px;
	border-left: 3px solid #510fad;
}

.main-nav-item {
	padding: 10px;
	display: inline-block;
}

.promo {
	padding: 180px;
	background-image: url(../images/dog.png);
	background-repeat: no-repeat;
}

.bg-pseudo-wave {
	background-color: #510fad;
	color: #fff;
}

.bg-pseudo-wave:before {
	content: '';
	width: 100%;
	height: 76px;
	display: block;	
	background: url(../images/pseudo1.png);
}

.bg-pseudo-wave:after {
	content: '';
	width: 100%;
	height: 80px;
	display: block;
	background: url(../images/pseudo2.png);
}

.about_description {
	margin-left: 380px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 50;
	line-height: 30px;
	color: #b7adc8;
}

.flex {
	display: flex;
}

h2 {
	text-align: center;
	font-size: 36px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 50;
	line-height: 40px;
}

.description {	
	color: #b8adc8;
}

.about_img {
	width: 459px;
	height: 274px;
	margin-left: 30px;
	border-radius: 10px;
	box-shadow: -15px 0 25px #2f0964;
}

.advantages-item {
	padding: 14px;
}

.link_yellow {
	color: #ffec00;
	margin-left: 20px;
}

.link-yellow:after {
	content: '';
	width: 28px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 105% 10%;
	width: 30px;
	height: 28px;
}

.link-yellow:hover:after  { background-position: 105% 110%; }

.flex-breed {
	display: flex;
	flex-wrap: wrap;
}

.breed {
	width: 50%;
}

h3 {
	font-size: 24px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 50;
	line-height: 40px;
}
.breed-img {
	border-radius: 100%;
}

.link-blue:after {
	content: '';
	width: 28px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 105% 110%;
	width: 30px;
	height: 28px;
}

.link-blue:hover:after  { background-position: 105% 10%; }

.blog-container {
	background-image: url(../images/blog-bg.jpg);
	background-repeat: repeat;
}

.section-title-white {
	margin-left: 50px;
	color: #fff;
}

.more-review {
	font-style: italic;
	font-family: 'Roboto', sans-serif;
}

.articles {
	display: flex;
}

.description {
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 50;
	line-height: 30px;
	color: #b7adc8;
}

.icon {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 30px;
	height: 28px;
	display: inline-block;
}

.vk       { background-position: 0% 0%;  }
.vk:hover { background-position: 0% 100%; }

.fb       { background-position: 36% 0%;  }
.fb:hover { background-position: 36% 100%; }

.insta       { background-position: 72% 0%; }
.insta:hover { background-position: 72% 100%; }